<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icons"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icons"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepLab"
        tools:targetApi="31">
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quality.result.SleepQualityResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quality.SleepQualityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.tips.TipsWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.disorder.DisorderWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.tips.TipsForSleepActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.disorder.SleepDisorderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.duration.SleepDurationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.duration.DurationWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.song.SleepSongsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.etc.SpashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>